* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid #FD6883;
  font-family: 'Ubuntu Mono', monospace;
}


body {
  margin-top: 0;
  background: #CCE7C9;
  width: 80%;
  min-height: 100vh;
  margin: 0 auto 0 auto;

}

#root {
  width: 100%;
  min-height: 100vh;
}

a {
  align-items: center;
  display: flex;
  justify-content: center;
}


#navbar {
  display: flex;
  align-items: center;
  height: 10%;
  /* justify-content: center; */
  position: fixed;
}

#navbar > *{
  margin: 10px;
}

#navbar img {
  height: 50px;
  width: 50px;
  margin-right: auto;
}

.Theme {
  padding: 20% 0% 5% 0%;
  font-weight: bold;
  font-size: 2em;
}

.Theme h2{
  font-size: 1em;
  letter-spacing: .05em;
}

.Theme h3{
  font-size: .4em;
}

.post {
  margin: .1em 0 2em 0;
}

.post-header {
  height: 2.5em;
  display: flex;
  align-items: center;
}

.post-header img{
  height: 2em;
  margin: .5em .5em .5em 0;
}

.post-header h4{
  margin-left: .2em;
  font-size: 75.em;
}

.post-img{
  width: 100%;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.profile-pfp {
  width: 15em;
  padding: 1em;
  font-weight: normal;
}

.profile h2{
  margin-bottom: .5em;
}

.profile p{
  margin-bottom: 1em;
  width: 70%;
  text-align: center;
  font-size: .7em;
}

.calendar {
  /* background-color: #FD6883; */
  outline: 1px solid #8368fd;
  width: 100%;
  height: 17em;
}