* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid #FD6883;
  font-family: 'Ubuntu Mono', monospace;
}


body {
  margin-top: 0;
  background: #CCE7C9;
  width: 80%;
  height: 100%;
  margin: 0 auto 0 auto;

}

a {
  align-items: center;
  display: flex;
  justify-content: center;
}


#navbar {
  display: flex;
  align-items: center;
  height: 10%;
  /* justify-content: center; */
  position: fixed;

}

#navbar > *{
  margin: 30px;
  background-color: white;
  overflow: hidden;

}

#navbar img {
  height: 50spx;
  width: 50px;
  margin-right: auto;
}

.Theme {
  padding: 20% 0% 5% 0%;
  font-weight: bold;
  font-size: 2em;
}

.Theme h2{
  font-size: 1em;
  letter-spacing: .05em;
}

.Theme h3{
  font-size: .4em;
}

.post {
  margin: .1em 0 2em 0;
}

.post-header {
  height: 2.5em;
  display: flex;
  align-items: center;
}

.post-header img{
  height: 2em;
  margin: .5em .5em .5em 0;
}

.post-header h4{
  margin-left: .2em;
  font-size: 75.em;
}

.post-img{
  width: 100%;
}

.comment {
  display: flex;
  align-items: center;
  /* font-weight: bold; */
}

.comment-name {
  font-weight: bold;
  margin-right: 2em;
}
