* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid #FD6883;
}

a {
  align-items: center;
  display: flex;
  justify-content: center;
}


#navbar {
  display: flex;
  height: 70px;
  align-items: center;
  /* justify-content: center; */
}

#navbar > *{
  margin: 10px;
}

#navbar img {
  height: 50px;
  width: 50px;
  margin-right: auto;
}